body {
  background-color: #ececec;
  margin: auto;
}

header {
  padding: 1px;
  background-color: rgb(231, 137, 175);
  justify-items: center;

  border-style: solid;
  border-width: 2px;
  border-color: rgb(138, 1, 56);

  h1 {
    display: flex;
  }
}

.search {
  padding: 20px;
  justify-items: center;

  input {
    width: 200px;
    display: flex;

    border-radius: 10px;
    padding: 5px;
    margin: 0px 5px;
    height: 30px;

    background-color: white;
    border-style: solid;
    border-color: rgb(138, 1, 56);
  }
}

.elements {
  display: flex;
  justify-content: space-between;

  div {
    width: 200px;

    padding-bottom: 55%;
    margin: 5px;

    background-color: rgb(231, 137, 175);

    border-style: solid;
    border-width: 2px;
    border-color: rgb(138, 1, 56);
    border-radius: 15px;

    h2 {
      text-align: center;
    }
  }

  #pokemon-list {
    font-size: large;
    li {
      margin: 5px 0px;
      cursor: pointer;
    }

    li:hover {
      color: rgb(138, 1, 56);
    }
  }
}
