.page {
  font-family: var(--font-geist-sans);
  font-size: large;
}

.header {
  height: 100px;
  justify-items: center;
  align-content: center;
  background-color: pink;

  border-style: solid;
  border-width: 2px;
  border-color: palevioletred;

  input {
    width: 200px;
    height: 30px;

    border-radius: 10px;
    border-color: palevioletred;
    border-style: solid;
  }

  nav {
    display: flex;
    button {
      width: 40px;
      height: 40px;
    }
    h1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  height: 600px;

  div {
    width: 300px;
    margin: 5px;

    background-color: pink;

    border-style: solid;
    border-width: 2px;
    border-color: palevioletred;
    border-radius: 15px;

    h2 {
      text-align: center;
    }
  }
}
