.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: light) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  }
}

.header {
  height: 50px;
  justify-items: center;

  nav {
    div {
      display: flex;
      justify-content: space-around;
    }
    button {
      width: 40px;
      height: 40px;
    }
    h1 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    input {
      width: 200px;
      height: 30px;

      border-radius: 10px;
      border-style: solid;
    }
  }
}

.main {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  height: 50px;
  width: 50px;
}
