.header {
  height: 120px;
  justify-items: center;
  align-content: center;
  background-color: pink;

  border-style: solid;
  border-width: 2px;
  border-color: palevioletred;

  h1 {
    margin-top: -30px;
    margin-bottom: 10px;
  }

  nav {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    button {
      background-color: rgb(255, 239, 241);

      margin-right: 5px;
      width: 90px;
      height: 40px;

      border-radius: 10px;
      border-color: palevioletred;
      border-style: solid;

      cursor: pointer;
    }
    button:hover {
      border-color: rgb(205, 65, 112);
      background-color: rgb(255, 218, 230);
    }
  }
}

.main {
  .noCompare {
    text-align: center;
    margin-top: 50px;
    font-size: larger;
  }
  .compared {
    display: grid;
    grid-template-columns: repeat(2, 400px);

    margin-top: 50px;
    margin-left: 25%;
    justify-items: center;
    align-items: center;
  }
  .element {
    width: 350px;
    margin: 5px;

    background-color: pink;
    text-align: center;
    font-size: medium;

    border-style: solid;
    border-width: 2px;
    border-color: palevioletred;
    border-radius: 15px;
  }

  button {
    background-color: rgb(255, 239, 241);

    margin: 0px 2.5px 10px 2.5px; /*top right bottom left*/
    width: 100px;
    height: 40px;

    border-radius: 10px;
    border-color: palevioletred;
    border-style: solid;

    cursor: pointer;
  }
  button:hover {
    border-color: rgb(205, 65, 112);
    background-color: rgb(255, 218, 230);
  }
}
